.list-group-item:hover{
	color: #3a87ad;
    background-color: #d9edf7;
	border: 1px solid #9CD;
	border-bottom: 2px solid #9CD;
}
.list-group-item:hover> .btn{    
	color: #ffffff;
    background-color: #029acf;
    border-color: #029acf
}
.list-group-item{
	font-weight: normal !important;	
	
	padding:20px !important;

}
.list-group-item >.btn{
	margin-top:-10px !important;	
	margin-bottom:10px !important;
}

.btn-special{
	padding-top:10px !important;
	padding-bottom:10px !important;
}
	
.k{	
    background-color: #096;
	border-radius: 5px;
}
.lead{
	margin:0;
}

body{
	zoom:110%;
}