.list-group-item:hover{
	color: #3a87ad;
    background-color: #d9edf7;
	border: 1px solid #9CD;
	border-bottom: 2px solid #9CD;
}
.list-group-item:hover> .btn{    
	color: #ffffff;
    background-color: #029acf;
    border-color: #029acf
}
.list-group-item{
	padding-top:20px !important;
	padding-bottom:20px !important;
	padding-right:10px;
	padding-left:10px;
}
.list-group-item >.btn{
	margin-top:-10px !important;	
	margin-bottom:10px !important;
}

.btn-special{
	padding-top:10px !important;
	padding-bottom:10px !important;
}

body{
	zoom:100%;
}