<!DOCTYPE html>
<html lang="pt">
<head>
<title>Simple Market</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="shortcut icon" type="image/x-icon" href="shopping-cart.ico">
<link rel="apple-touch-icon" href="shopping-cart.ico">
<link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
<!-- <link rel="stylesheet" href="css/cerulean.css" media="screen"> -->
<link rel="stylesheet" href="css/flatly.css" media="screen">
<!-- <link rel="stylesheet" href="css/lumen.css" media="screen"> -->
<!-- <link rel="stylesheet" href="css/paper.css" media="screen"> -->
<!-- <link rel="stylesheet" href="css/simplex.css" media="screen"> -->
<!-- <link rel="stylesheet" href="css/spacelab.css" media="screen"> -->
<link rel="stylesheet" href="css/custom.css" media="screen">

<script src="js/angular.min.js"></script>
<script src="js/jquery.min.js" />
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $('.dropdown-toggle').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
   $('.navbar-toggle').on("click", function(e){
    $('#navbar-main').toggle();
    e.stopPropagation();
    e.preventDefault();
  });  
   $('.selImportar').on("click", function(e){
    $('#listar').hide();
	$('#limpar').hide();
	$('#importar').show();
    e.stopPropagation();
    e.preventDefault();
  });  
  $('.selLimpar').on("click", function(e){
    $('#listar').hide();
	$('#importar').hide();
	$('#limpar').show();
    e.stopPropagation();
    e.preventDefault();
  });  
});
</script>

<!--<script src="js/angular-route.js"></script> -->
<!-- Onde ficarao as nossas rotas -->
<!--<script src="app.js"></script> -->
<!-- -->
<!-- Onde ficarao os nossos controllers -->
<script src="controllers/controllers.js"></script>
<!-- -->
<!-- Onde ficarao as nossas diretivas -->
<!-- <script src="directives.js"></script>  -->
<!-- -->
<!-- Onde ficarao os nossos serviços -->
<!--<script src="services/services.js"></script> -->
						
<!-- Material Design Bootstrap -->
<!--<link href="css/mdb.css" rel="stylesheet">-->
</head>
<body ng-app="SimpleMarket">
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="." class="navbar-brand">Simple Market</a>
				<button class="navbar-toggle" type="button"  data-toggle="collapse"
				type="button" class="navbar-toggle collapsed">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<!-- <li class="dropdown"> -->
						<!-- <a class="dropdown-toggle"data-toggle="dropdown" href="#" id="actions">Menu  -->
						<!-- <span class="caret" /></span> -->
						<!-- </a> -->
						<!-- <ul class="dropdown-menu" aria-labelledby="actions"> -->
						<!-- <li><a href="#">Importar Lista</a></li> -->
						<!-- <li class="divider" /> -->
						<!-- <li><a href="#">Exportar Lista</a></li> -->
						<!-- </ul> -->
					<!-- </li> -->
					<li><a href="#importarAncora" class="selImportar">Importar Lista ( local )</a></li>
					<li class="divider"><a></a></li>
					<li><a href="#limparAncora" class="selLimpar">Limpar Lista ( local )</a></li>
				</ul>
				
			</div>
		</div>
	</div>
	<p><br /></p>
	<div class="container" ng-controller="ProdutosCtrl">
		<div class="page-header row" id="banner">
			<div class="">
				<div class="col-lg-6 col-md-6 col-sm-6 pull-left">
					<h3>Lista de Compras</h3>
					 <p class="lead">Supermercado</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 pull-right">
					<button type="submit" class="btn btn-default pull-right" ng-click="finalizar();">
						Finalizar:<br />{{listaComprados.length}} itens<br />Faltam:<br />{{listaNaoComprados.length-1}} itens
					</button>
				</div>
			</div>
		</div>
		<div ng-show="!importar" id="listar">
		<form>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="list-group table-of-contents">
						<div class="list-group-item" ng-repeat="(key, value) in lista"
							ng-class="{'list-group-item-success': value == 'sim'}"
							ng-hide="key =='status'" ng-click="selecionar(key);">
							<b><br/>{{key}}</b>
							<button ng-show="value == 'nao'" type="submit"
								class="pull-right btn btn-sm btn-special" 
								ng-click="comprarProduto(key);">
								Comprar
							</button>
							<button ng-show="value == 'sim'" type="submit"
								class="pull-right btn btn-sm btn-success btn-special k"
								ng-click="devolverProduto(key);">
								Comprado
							</button>
							<br /> <br />
						</div>
		</form>
	<!--	<ul class="pager">
			<li><a href="<">Anterior</a></li>
			<li><a href=">">Próxima</a></li>
		</ul> -->
	</div>
	</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12"></div>
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="well bs-component row">
			<form class="form-inline">
				<fieldset>
					<legend>Produto</legend>
					<label for="inputNome" class="col-md-2 control-label">Nome</label>
					<div class="col-md-6 col-sm-10" >
						<div class="input-group col-md-12" style="margin-bottom:25px">
						  <input type="txt" class="form-control" name="inputNome"
							 ng-model="inputNome" placeholder="Nome">
						  <div class="input-group-btn">
						    	<button type="button"
								class="btn"
								ng-click="inputNome = ''">
								<span class="glyphicon glyphicon-remove" aria-hidden="true">
							</button>
						  </div>
						</div>
					</div>
				       <div class="col-md-4 col-sm-12">										
						<button type="submit" class="btn-special btn btn-md btn-danger pull-left"							
							ng-click="removerProduto(inputNome);">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							Apagar item	
						</button>
						<button type="submit" class="btn-special btn btn-md btn-info pull-right"
							ng-click="adicionarProduto(inputNome);">
							<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
							Salvar item
						</button>
						<br /><br /><br />
						</div>
				</fieldset>
			</form>
		</div>
	</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12" ng-show="!importar" id="importar" style="display:none" >
		<div class="well bs-component row">
			<form class="form-inline">
				<fieldset>
					<legend>Importar Lista</legend>
					<label for="inputNome" class="col-md-2 control-label">Arquivo</label>
					<div class="col-md-6 col-sm-10" >
						<div class="input-group col-md-12" style="margin-bottom:25px">
						  <input type="file" class="form-control" id="arquivoInput"
						  placeholder="Lista">
						  <div class="input-group-btn">
						    <a name="importarAncora"> </a>
						  </div>
						</div>
					</div>
				       <div class="col-md-4 col-sm-12">										
						<button type="submit" class="btn-special btn btn-md btn-warning pull-left"
							ng-click="importarLista();">
							<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Importar Lista de Produtos .json
							</button>
						<br /><br />
						</div>
						
				</fieldset>
			</form>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12" ng-show="!importar" id="limpar" style="display:none" >
		<div class="well bs-component row">
			<form class="form-inline">
				<fieldset>
					<legend>Limpar Lista</legend>
					<label for="inputNome" class="col-md-8 control-label">Substituirá lista local
						pela lista de produtos do servidor. <br/><br/> </label>					     
						<a name="limparAncora"> </a>
						<div class="col-md-4 col-sm-12">										
						<button type="submit" class="btn-special btn btn-md btn-danger pull-left"
							ng-click="limparLista();">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Limpar Lista de Produtos (!)
							</button>
						<br /><br />
						</div>
				</fieldset>
			</form>
		</div>
	</div>
	
	<div class="col-lg-12 col-md-12 col-sm-12">
		<footer>
			<div class="col-lg-6">
				<p>
					Simple Market© - <a href="https://github.com/rafaelrandow/simple-market">Rafael Randow</a> - 2017.
					</p>
			</div>
		</footer>
	</div>
	</div>
</body>
</html>
